<main class="container mt-5">
  <h1>A Diary That Cares for You</h1>
  <p aria-level="2"><strong>Tell me what to write...</strong></p>

  <div *ngIf="isLive === undefined">
    <p>Choose how you want me to write:</p>
    <div class="button-container">
      <button class="btn btn-secondary" (click)="speekLive(false)" aria-label="Upload Audio">Upload Audio</button>
      <button class="btn btn-secondary" (click)="speekLive(true)" aria-label="Speak Live">Speak Live</button>
    </div>
  </div>

  <div class="main-body" *ngIf="isLive !== undefined">
    <label *ngIf="isLive === false" for="audio-file" class="visually-hidden">Choose Audio File</label>
    <input *ngIf="isLive === false" type="file" name="audio-file" id="audio-file" class="form-control" accept="audio/*" aria-describedby="audio-file-description">
    <p id="audio-file-description" class="visually-hidden">Selected audio file</p>
    <button *ngIf="isLive" class="btn btn-secondary" (click)="startService()">Start</button>
    <button *ngIf="isLive" class="btn btn-secondary" (click)="stopService()">Stop</button>
  </div>
</main>

<div class="result container" *ngIf="_voiceRecognitionService.text.length > 0 || displayText.length > 0">
  <h2>Result:</h2>
  <!-- <div class="card" *ngIf="_voiceRecognitionService.text.length > 0 || displayText.length > 0">
    {{ _voiceRecognitionService.text || displayText }}
  </div> -->
</div>

<angular-editor
  [(ngModel)]="_voiceRecognitionService.text || displayText"
  [config]="config"
  class="editor-container"
  aria-label="Voice Recognition Editor"
></angular-editor>
<article>
<button class="btn btn-warning extreme-right" (click)="save()">Save</button>
</article>

<button class="btn btn-warning" style="float: right; margin:1rem 1rem;">Save</button>
